*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#root {
  width: 100%;
  height: 100%;
}
.main-container {
  width: 80%;
  height: 80%;
  margin: 10% auto;


  .search-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 1%;

    & div {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid #b4a9a9;
        padding: 0 0 8px 0;
        outline: none;
        background-color: transparent;
        transition: 0.3s;
        cursor: pointer;

        &:focus + label,
        &:not(:placeholder-shown) + label {
          font-size: 12px;
          top: -14px;
        }
      }

      label {
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.3s;
        color: rgb(92, 73, 73);
        opacity: 0.6;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    thead {
      background-color: #4caf50;
      color: white;
    }

    th,
    td {
      width: 25%;
      padding: 12px 15px;
      border-bottom: 1px solid #ddd;
    }

    th {
      font-weight: bold;
      text-transform: uppercase;
    }

    td {
      color: #333;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        &:nth-child(odd) {
          background-color: #e6e6e6;
        }

        &:hover {
          background-color: #d1d1d1;
          cursor: pointer;
        }
      }
    }
  }
}
